body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 240, 240);
}
p {
  text-align: justify;
  margin: 0 auto;
  width: 80%;
}
.title {
  padding-top: 40px;
  color: rgb(133, 127, 255);
}

#container {
  width: 70%;
  padding: 1em;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#cabecera {
  background-color: goldenrod;
  box-shadow: 0px 2px 20px 0px #000;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  text-align: left;
}

#cabecera #tagline {
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}
